p{
  font-family: Segoe-UI, sans-serif;
}

#gateau{
display: block;
margin: 0 auto;

}

#global{
  margin-left: auto;
  margin-right: auto;
  width:1024px;
}

#ja{
  font-size: 32px;
  font-family: Verdana, Sans;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  
}
.buttn-ys{
  display: block;
  background-color: #70C194;
  font-family: Verdana, Sans;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
  height: 40px;
  width: 200px;
  margin:0 auto;
  padding-top: 20px;
  font-size:18px;
 
}

a{
   text-decoration:none;
}

.buttn-ys-highlight{
  display: block;
  background-color: #64AF82;
  font-family: Verdana, Sans;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
  height: 40px;
  width: 200px;
  border-color:#1469E2;
  margin:0 auto;
  padding-top: 20px;
   font-size:18px;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  text-decoration:none;
}

#menu{
  background-color: #1C1C1C;
  font-family: Verdana, Sans;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: white;
}
  #menu-btn{
    text-align: center;
  }


.card{
  border-color :#747C77;
  float:left;
  border-width:4px;
  margin : 7px;
  width: 200px;
  height: 200px;
  overflow:scroll;
}
h1.card{
   float:left;
}

