#gateau{
display: block;
margin:auto;

}

#global{
  margin-left: auto;
  margin-right: auto;
  width:1024px;
}

#ja{
  font-size: 32px;
  font-family: Verdana, Sans;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  
}
