p{
  font-family: Segoe-UI, sans-serif;
}

#gateau{
display: block;
margin: 0 auto;

}

#global{
  margin-left: auto;
  margin-right: auto;
  width:1024px;
}

#ja{
  font-size: 32px;
  font-family: Verdana, Sans;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  
}
.buttn-ys{
  display: inline;
  background-color: #70C194;
  font-family: Verdana, Sans;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
